.timer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px 35px;
  row-gap: 0.1rem;

  &__time{
    font-size: clamp(3rem, 10vw, 7rem);
    font-variant-numeric: tabular-nums;
    letter-spacing: 0.05em;
    pointer-events: none;
    user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;
  }

  &__buttons {
    display: inline-flex;
    column-gap: 2rem;
    padding: 10px;
  }
}