:root {
  --color-white: #e7e7e8;
  --color-black: #000000;

  --color-gray-1: #1c1c1e;
  --color-gray-2: #151517;
  --color-gray-3: #767676;

  --color-orange: #ea952e;

  --transition-duration: 0.2s;
}